/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
  }
  
  /* .scroller::before {
    height: 180px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #FFF4E6 10%, rgba(255, 244, 230, 0) 30%, rgba(255, 244, 230, 0) 70%, #FFF4E6 90%);
    z-index: 20; 
    pointer-events: none; 
  } */